@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@300;400;500;700&display=swap');

:root {
  font-family: 'IBM Plex Sans JP', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #80D9FF;
  background-attachment: fixed;
  background-size: cover;
  color: rgba(0, 0, 0, 0.7);
  word-break: break-word;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.wallpaper {
  position: fixed;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(100% 100% at 50% 0%, #80D9FF 0%, #DAF6FF 69.27%, #FFF2F8 100%); */
  background: var(--BG, linear-gradient(180deg, #80D9FF 0%, rgba(128, 217, 255, 0.00) 32.81%), radial-gradient(100% 100% at 50% 0%, #80D9FF 0%, #DAF6FF 69.27%, #FFF2F8 100%));
  z-index: -100;
}

/* Text styles */
.t-10pxNormal {
  font-size: 10px;
  font-weight: 400;
  line-height: 110%;
}

/* - Menu Bar */
.t-Text-Normal {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

.t-Text-Bolder {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.t-SubText-Normal {
  font-size: 14px;
  font-weight: 400;
  line-height: 110%;
}

.t-SubText-Bolder {
  font-size: 14px;
  font-weight: 500;
  line-height: 110%;
}

.t-SubText2-Light {
  font-size: 12px;
  font-weight: 300;
  line-height: 110%;
}

.t-SubText2-Normal {
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
}

.t-SubText2-Bolder {
  font-size: 12px;
  font-weight: 500;
  line-height: 110%;
}

/* - Main */
.t-BlockTitle-Bolder {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}

.t-Max-Bolder {
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
}

.t-SubMax-Regular {
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
}

/* - Full Screen */
.t-FullScreen-Title {
  font-size: 128px;
  font-weight: 700;
  line-height: 100%;
}


/* Color styles */
/* - Text color */
.tC-Text {
  color: rgba(0, 0, 0, 0.7);
}

.tC-TextSub {
  color: rgba(0, 0, 0, 0.3);
}

.tC-HighlightBlue {
  color: #00B2FF;
}

.tC-HighlightRed {
  color: #FF453A;
}

.tC-fff {
  color: #FFFFFF;
}

/* - Box color */
.bC-BG {
  background-color: rgba(255, 255, 255, 0.8);
}

.bC-HighlightBG {
  background-color: #DAF6FF;
}

.bC-BGSub {
  background-color: rgba(255, 255, 255, 0.3);
}


/* Effects */
.e-Button {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.e-Box {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(12.5px);
  backdrop-filter: blur(12.5px);
}

.e-dimBG {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  border-radius: 20px;
}

.e-Context-Highlight {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}