.menuBarBody {
    display: flex;
    width: calc(100vw - 30px);
    height: 50px;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.navButtons {
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 34px;
}

.back {
    display: flex;
    width: 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 28px 5px 5px 28px;
}

.home {
    display: flex;
    width: 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px 28px 28px 5px;
}

.label {
    display: flex;
    padding: 0px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 28px;
}

.subTitle {
}

.title {
}

.right {
    display: flex;
    padding: 4px;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 28px;
}

.status {
    display: flex;
    padding: 0px 12px;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 28px;
}

.caleTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}